*{
  box-sizing: border-box;
}


body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1rem;
  height: 5000px;
}
html {
  scroll-behavior: smooth;
}

#totop {
  /* padding: 20px 10px; */
  outline: none;
  text-decoration: none;
}
#totop .fas {
  font-size: 34px;
  position: fixed;
  width: 40px;
  height: 35px;
  bottom: 50px;
  text-align: center;
  right: 0px;
  background-color: black;
  color: white;
}

.header-top > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* .................................................................. */

.intro-section.container .row {
  height: 100vh;
  min-height: 700px;
}
.intro-section {
  background-size: cover;
  position: relative;
  background-position: center center;
  background-image: url(../img/hero_1.jpg);
}

.intro-section .sub-title {
  font-family: cinzel;
  color: #fff;
  font-size: 1.5rem;
}

.intro-section h1 {
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
  font-family: montserrat;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .intro-section h1 {
    font-size: 2rem;
  }
}

.intro-section1.container .row {
  height: 100vh;
  min-height: 700px;
}
.intro-section1 {
  background-size: cover;
  position: relative;
  background-position: center center;
  background-image: url(../img/hero_2.jpg);
}

.intro-section1 .sub-title {
  font-family: cinzel;
  color: #fff;
  font-size: 1.5rem;
}

.intro-section1 h1 {
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
  font-family: montserrat;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .intro-section1 h1 {
    font-size: 2rem;
  }
}

.owl-nav .owl-prev {
  left: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.owl-nav .owl-prev .fas {
  width: 40px;
  padding: 12px;
  height: 40px;
  background-color: #fff;
}
.owl-nav .owl-prev:focus {
  outline: none;
}

.owl-nav .owl-next {
  right: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.owl-nav .owl-next .fas {
  width: 40px;
  padding: 12px;
  height: 40px;
  background-color: #fff;
}
.owl-nav .owl-next:focus {
  outline: none;
}

/* Logo design */
.site-logo{
  display: flex;
  justify-content: center;
  width: 17%;
}

.site-logo img{
  width: 100%;
  object-fit: contain;
}

@media(max-width:1024px){
  .site-logo{
    width: 65%;
  }
}

/* Navbar */
header{
  width: 100%;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid #efefef;
  z-index: 999;
  display: flex;
  background-color: #ffff;
  justify-content: center;
}

header nav{
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.5s linear;
}

header nav ul{
  padding: 20px 0px;
  margin: 0px!important;
  width: 30%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

header nav ul .menu_list_item{
  text-decoration: none;
  color: black;
}

header nav ul .menu_list_item.active{
  color: #930077;
}

#menu_toogler{
  display: none;
}

#menu_closer{
  display: none;
}

@media(max-width:1024px){
  header{
    border: none;
  }

  header nav{
    position: fixed;
    top: 0px;
    right: -100%;
    width: 80%;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    box-shadow: -10px 0 20px -10px rgba(0,0,0,.1);
  }

  header nav.active{
    display: block;
    right: 0px;
  }

  header nav.active .menu_list{
    padding: 56px 35px;
    font-weight: 450;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    flex-direction: column;
  }

  header nav.active .menu_list li{
    padding-bottom: 15px;
  }

  #menu_toogler, #menu_closer{
    display: block;
  }

  #menu_closer{
    position: absolute;
    font-size: 30px;
    top: 15px;
    right: 20px;
  }
}
/* --------------------------------------- */

.section-title {
  color: #000;
}

.section-title h3{
  font-size: 3rem;
    font-weight: 300;
    position: relative;
    display: inline-block;
}
.section-title p a{
  color: #930077;
  text-decoration: none;
  font-size: 20px;
}
.section-title p a:hover{
  color: #000;
  text-decoration: none;
}
.wine {
  position: relative;
  margin-bottom: 30px;
}
.wine::after{
  content: "";
  background: #f3f4f5;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.wine .winebot{
  position: relative;
  display: block;
}
.wine .winebot .bottle{
  max-width: 100%;
  height: auto;
}
.wine .heading-out{
  font-size: 18px;
}
.wine a{
color: #000;
text-decoration: none;
} 
@media (min-width: 768px){
.site-section {
    padding: 7em 0;
}
}

.wine .wine-show {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fff;
  opacity: 0;
  visibility: hidden; 
  transition: .3s all ease;
}
.wine:hover .wine-show{
  opacity: 1;
  visibility: visible;
} 

.wine .heading-out-2{
  font-size: 20px;
}

.wine .wine-show .price {
  font-size: 20px;
  color: #930077; 
}

.wine .wine-show .heading-out-2 a{
  color: #000;
  transition: .3s all ease;
  text-decoration: none;
  } 

  .wine .wine-show .price{
    font-size: 20px;
    color: #930077;
}

  .wine .wine-show .rating {
    margin-bottom: 20px;
}

 .wine .rating .fas{
  font-size: 16px;
  color: #ffbd39;
} 
.fas::after{
 content:"";
}
.far::after{
  content:"";
 }
.wine .rating .far{
  font-size: 16px;
    color: #ffbd39;
}

.wine .wine-show .price del {
  color: #ccc;
}
.wine .wine-show .btn{
  background: #930077;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
}

/* --------------------------------- */
.back-img {
  background-image: url(../img/hero_2.jpg);
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center center;
}

.back-img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  background:#222;
  opacity: .3;
  border-bottom-right-radius: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back-img >.container .row {
  height: 50vh;
  min-height: 500px;
  z-index: 2;
}

.back-img .sub-title {
  color: #fff;
  font-size: 1.5rem;
}

.back-img h3 {
  background: none;
  font-size: 5rem;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .back-img h3 {
    font-size: 2rem; } }
.back-img h3 strong {
  font-weight: 700; }
.back-img .sub-title {
color: #fff;
font-size: 1.5rem; }
.back-img p {
color: #fff;
font-size: 1.1rem; }
.back-img p a {
  color: #fff;
  text-decoration: underline; }